<div class="container">
    <div class="abs-center">
        <form #formCreate="ngForm" class="form" (ngSubmit)="onSubmit(formCreate)">
            <h1 class="primaryColor">Crea tu cuenta</h1>
            <br><br>
            <span *ngIf="formCreate.submitted && formCreate.controls['email'].errors" class="text-danger">Introduzca un email valido</span>
            <div class="form-group">
                <input type="email" class="form-control formColor" name="email" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="user.email" required email>
                <span class="focus-input100"></span>
            </div>
            <span *ngIf="formCreate.submitted && formCreate.controls['name'].errors" class="text-danger">Introduzca su nombre y apellidos</span>
            <div class="form-group">
                <input type="text" class="form-control formColor" name="name" placeholder="Nombre y apellidos" [(ngModel)]="user.name" required minlength="4">
                <span class="focus-input100"></span>
            </div>
            <span *ngIf="formCreate.submitted && formCreate.controls['password'].errors" class="text-danger">Introduzca un password de al menos 6 caracteres</span>
            <div class="form-group">
                <input type="password" class="form-control formColor" name="password" placeholder="Password" [(ngModel)]="user.password" required minlength="6">
                <span class="focus-input100"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-block bgPrimaryColor">Crear cuenta</button>
            <br>
            <div class="form-check">
                <input [(ngModel)]="remember" class="form-check-input checkbox" name="remember" type="checkbox">
                <label class="form-check-label" for="cbRemember">
                  Recordar mi usuario <a routerLink="/login" class="primaryColor">¿Ya tienes cuenta? / Ingresar </a>
                </label>
            </div>
        </form>
    </div>
</div>